node_modules
.env
coverage
coverage.json
typechain
cache/
out/

#Hardhat files
cache
artifacts

# Ignore Environment Variables!
.env
.env.prod

# Ignore all vscode settings
.vscode/

# Ignore flattened files
flattened.txt
node_modules