# Hardhat dependencies
node_modules
# Foundry dependencies
coverage
coverage.json
typechain

cache
cache_hardhat
cache_foundry
artifacts_hardhat
artifacts_foundry

# Ignore Environment Variables!
.env
.env.prod

# Ignore all vscode settings
.vscode/

# Ignore flattened files
flattened.txt
node_modules
out/
deployments
