{
  "tabWidth": 4,
  "useTabs": false,
    "tabWidth": 4,
    "printWidth": 60,
    "overrides": [
        {
            "files": "*.sol",
            "options": {
                "semi": true,
                "printWidth": 100,
                "tabWidth": 4
            }
        }
    ]
}
